a {
  text-decoration: none;
}

.stripped {
  background: 
    /* Degradê horizontal dourado */
    linear-gradient(to right, #df9307, #f1dfbc,#f1dfbc, #df9307),
    
    /* Listras verticais sólidas */
    linear-gradient(to right, #8e4fb3d0 25%, #ec1515 25%, #64eb16 25%);
  
  /* A ordem das camadas é importante, para que a primeira camada de fundo dourada fique abaixo das listras */
  background-size: 100% 25%, 100% 20%;  /* Ajuste a altura das listras */
  background-repeat: no-repeat;  /* Garante que o fundo não se repita */
}


.bgwhite{
  background-color: #fff;
}

.bg-dourado {
  color: #df9307;
  border: 1px solid rgb(240, 240, 234);
}

.bg-dourado:hover {
  color: #df9307;
  transition: all .6s;
  border-radius: 1px;
  border: 1px solid #df9307;
}


.text-dourado {
  color: dourado;
}

.cta-button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  background-color: rgb(216, 167, 6);
  color: white;
  border-radius: 1px;
  border: 3px solid transparent;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}

.cta-button:hover {
  border: 3px solid #df9307;
  color: rgb(243, 240, 228);
}

.cta-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 252, 232, 0.2);
  border-radius: 30%;
  transform: translate(-50%, -50%) scale(0);
  animation: pulsar .7s infinite;
}

@keyframes pulsar {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }

  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.4;
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  * {
    text-align: center;
  }
}

@media (min-width: 768px) {

  .cta {
    margin-left: 30px;
    margin-top: 10px;
  }
}

/* carrossel */

@media (max-width: 767px) {
  .carousel-item .col-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* botão whatsapp */

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.whatsapp-btn:hover {
  color: white;
  background-color: #16a84c;
  transition: all .7s;
}

.whatsapp-btn.animated {
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}