a {
  text-decoration: none;
}

.bg-dourado {
  color: rgb(233, 183, 1);
  border: 1px solid rgb(240, 240, 234);
}

.bg-dourado:hover {
  color: rgb(233, 183, 1);
  transition: all .6s;
  border-radius: 1px;
  border: 1px solid rgb(233, 183, 1);
}


.text-dourado {
  color: dourado;
}

.cta-button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  background-color: rgb(216, 167, 6);
  color: white;
  border-radius: 1px;
  border: 3px solid transparent;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}

.cta-button:hover {
  border: 3px solid rgb(233, 183, 1);
  color: rgb(243, 240, 228);
}

.cta-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 252, 232, 0.2);
  border-radius: 30%;
  transform: translate(-50%, -50%) scale(0);
  animation: pulsar 1s infinite;
}

@keyframes pulsar {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }

  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.4;
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  * {
    text-align: center;
  }
}

@media (min-width: 768px) {

  .cta {
    margin-left: 30px;
    margin-top: 10px;
  }
}

/* carrossel */

@media (max-width: 767px) {
  .carousel-item .col-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.card {
  height: 100%; /* Faz com que todos os cards ocupem o mesmo espaço vertical */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Distribui o conteúdo dentro do card */
}